[Unit]
Description=Binary Space Partitioning Window Manager

[Service]
ExecStart=/usr/bin/bspwm -c ${HOME}/.config/bspwm/bspwmrc
Restart=always

[Install]
WantedBy=default.target
