[Unit]
Description=Binary Space Partitioning Window Manager
Requires=nix-environment.service
After=nix-environment.service

[Service]
ExecStart=/home/ole/.nix-profile/bin/bspwm -c ${HOME}/.config/bspwm/bspwmrc
Restart=always

[Install]
WantedBy=default.target
