[Unit]
Description=Binary Space Partitioning Window Manager

[Service]
ExecStart=/nix/var/nix/profiles/per-user/ole/profile/bin/bspwm -c /nix/var/nix/profiles/per-user/ole/profile/etc/bspwm/bspwmrc
Restart=always

[Install]
WantedBy=default.target
