[Unit]
Description=Compton
Requires=xorg.target
After=xorg.target

[Service]
ExecStart=/usr/bin/compton
Restart=always

[Install]
WantedBy=default.target
