[Unit]
Description=Compton Compositor

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/compton -cC --config ${HOME}/.compton.conf

[Install]
WantedBy=default.target
