[Unit]
Description=Compton
Requires=xorg.socket
After=xorg.socket

[Service]
ExecStart=/usr/bin/compton
Restart=always

[Install]
WantedBy=default.target
