[Unit]
Description=Import nix environment variables

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/ole/.local/bin/nix-environment.sh
ExecStart=/usr/bin/systemctl --user show-environment

[Install]
WantedBy=default.target
