[Unit]
Description=Simple X Hotkey Daemon

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/sxhkd -c ${HOME}/.config/sxhkd/sxhkdrc

[Install]
WantedBy=default.target
