[Unit]
Description=Simple X Hotkey Daemon
Requires=xorg.target
After=xorg.target

[Service]
ExecStart=/nix/var/nix/profiles/per-user/ole/profile/bin/sxhkd -c /nix/var/nix/profiles/per-user/ole/profile/etc/sxhkd/sxhkdrc
Restart=always

[Install]
WantedBy=default.target
