[user]
	email = ole@vprsm.de
	name = Ole
[alias]
	s = status -s
	c = commit -v
	ca = commit -av
	d = diff
	a = add -v
	co = checkout
	ml = log --oneline --author=ole@vprsm.de --no-merges
	l = log --oneline
[core]
	editor = subl -w
[diff]
	algorithm = patience
